body
{
      background-color:#333A4B;
}

.main
{
      background-color: white;
      border-radius: 2%;
      display: grid;
      grid-template-columns: auto auto;
      margin: 10px;
      width: 1200px;
      height: 600px;
      top: 120px;
      left: 120px;
      position: relative;
}

.msg
{
      padding-left: 10%;
}

.img
{
      padding: 20px;
      
}

.big-img
{
      height: 550px;
}

h1
{
      color: #333A4B;
}



#text-form
{
      border-color: #333A4B;
      border-radius: 3%;
      width: 49%;
      height: 35px;
      font-size: 18px;
      
}

.list
{
      display:grid;
      grid-template-rows: auto auto;
}

.col
{
      display: inline-flex;
}

.col img
{
      padding-right: 2%;
}
 
 


button
{
      width: 50%;
      height: 40px;
      font-size: 17px;
      background-color: #333A4B;
      cursor: pointer;
      color: white;
}

/* FOOTER */
.attribution
{ 
      font-size: 11px; text-align: center; 
}

.attribution a 
{ 
      color: hsl(228, 45%, 44%); 
}